@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto";
  font-size: 1.5rem;
}
header {
  background-color: #262a47;
  padding: 5px;
  font-size: large;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

h1 {
  font-size: 4rem;
  color: aliceblue;
  text-align: center;
  text-decoration: underline;
  padding: 2rem;
}

h2 {
  text-align: center;
  padding: 1rem;
}

nav {
  display: flex;
}

nav a {
  margin: 1rem;
  color: aliceblue;
}

section {
  padding: 20px;
  border: 1px solid rgb(185, 202, 219);
  border-radius: 30px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.me-pic {
  border-radius: 50%;
  width: 70%;
}

.aboutMeh2 {
  color: #262a47;
}

.aboutMeh2 p {
  line-height: 2;
}

.intro {
  text-align: center;
  color: rgb(122, 148, 173);
  padding: 25px;
}

.intSkill {
  background-color: rgb(185, 202, 219);
  color: aliceblue;
}

.skillBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 200px;
}

.cv {
  text-align: center;
  background-color: aliceblue;
  color: rgb(122, 148, 173);
}

.contact {
  background-color: rgb(185, 202, 219);
  color: aliceblue;
  text-align: center;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.iconbox {
  font-size: 70px;
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 50px;
}

.contact a:hover {
  color: red;
  text-decoration: none;
}

.iconbox a:hover {
  color: red;
  text-decoration: none;
}

footer {
  background-color: #262a47;
  color: aliceblue;
  text-align: center;
  font-size: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer p {
  padding-top: 20px;
  margin: 0px;
}
